body {
    background-color:  rgb(237, 30,36);
    color: white;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

.container {
    padding: 40px;
    margin: 0 auto;

}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
    width: 100%;
}
.card-subtitle {
    margin-top: 10px;
    color: #666;
    font-weight: lighter;
    width: 100%;
}

.card-image {
    height: 200px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(42, 170, 253);      /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: yellow;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

#search-pokemon {
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    background-color: lightgrey;
}

#search-pokemon:focus, #search-pokemon:hover{
    outline: none;
    border: 1px solid black;
    background-color: white;
}